.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url("https://images.pexels.com/photos/3127880/pexels-photo-3127880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .loginTitle {
    font-size: 50px;
  }

  .loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    & > label {
      margin: 10px 0;
    }

    & > input {
      padding: 10px;
      background-color: #fff;
      border: none;
    }

    .loginButton {
      cursor: pointer;
      margin-top: 20px;
      background-color: lightcoral;
      border: none;
      color: #fff;
      border-radius: 10px;
      padding: 10px;
    }
  }

  .loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
  }
}
